  body{
    background-color: #AEFEFF;
  }

  hr{
    width: 40px;
    border-style: dotted none none none;
    border-color: gray;
    border-width: 6px;
  }

  h1{
      color: #4FBDBA;
  }

  h3{
      color: #4FBDBA;
  }

